<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="swagger.target" sequenceNumber="40">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.jaxrs.connector.feature.feature.group" version="4.1.1.201407131319"/>
<unit id="com.eclipsesource.jaxrs.provider.gson.feature.feature.group" version="2.0.0.201407131319"/>
<repository location="http://hstaudacher.github.io/osgi-jax-rs-connector/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.8.0.v20121212-203907-7M7fA78g4_y-edvtH0ZcEC5NOFTB"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="slf4j.api" version="1.6.3"/>
<unit id="com.wordnik.swagger-jersey2-jaxrs_2.11" version="1.3.10"/>
<unit id="com.fasterxml.jackson.core.jackson-annotations.source" version="2.4.1"/>
<unit id="org.apache.commons.lang.source" version="2.4.0"/>
<unit id="org.json4s.core_2.11.source" version="3.2.10"/>
<unit id="org.scala-lang.modules.scala-parser-combinators.source" version="1.0.1"/>
<unit id="com.fasterxml.jackson.module.jackson-module-jsonSchema" version="2.4.1"/>
<unit id="com.thoughtworks.paranamer.source" version="2.6.0"/>
<unit id="org.json4s.ast_2.11" version="3.2.10"/>
<unit id="org.json4s.ext_2.11" version="3.2.10"/>
<unit id="com.wordnik.swagger-core_2.11" version="1.3.10"/>
<unit id="org.scala-lang.scala-library.source" version="2.11.1.v20140519-130118-1e1defd99c"/>
<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.4.1.1"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider.source" version="2.4.1"/>
<unit id="org.json4s.ast_2.11.source" version="3.2.10"/>
<unit id="com.wordnik.swagger-jaxrs_2.11.source" version="1.3.10"/>
<unit id="com.fasterxml.jackson.module.jackson.module.scala.source" version="2.4.1"/>
<unit id="org.joda.convert" version="1.6.0"/>
<unit id="com.fasterxml.jackson.core.jackson-core.source" version="2.4.1"/>
<unit id="org.json4s.ext_2.11.source" version="3.2.10"/>
<unit id="org.scala-lang.scala-compiler" version="2.11.0.v20140415-163722-cac6383e66"/>
<unit id="org.json4s.jackson_2.11" version="3.2.10"/>
<unit id="com.fasterxml.jackson.core.jackson-databind.source" version="2.4.1.1"/>
<unit id="joda-time" version="2.3.0"/>
<unit id="org.scala-lang.modules.scala-xml.source" version="1.0.1"/>
<unit id="org.scala-lang.modules.scala-xml" version="1.0.1"/>
<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="2.4.1"/>
<unit id="org.apache.commons.lang" version="2.4.0"/>
<unit id="org.scala-lang.scala-compiler.source" version="2.11.0.v20140415-163722-cac6383e66"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base" version="2.4.1"/>
<unit id="com.google.code.findbugs.jsr305" version="2.0.1"/>
<unit id="com.fasterxml.jackson.module.jackson-module-jsonSchema.source" version="2.4.1"/>
<unit id="com.wordnik.swagger-jersey2-jaxrs_2.11.source" version="1.3.10"/>
<unit id="com.thoughtworks.paranamer" version="2.6.0"/>
<unit id="org.joda.convert.source" version="1.6.0"/>
<unit id="com.google.guava.source" version="15.0.0"/>
<unit id="org.scala-lang.scala-reflect.source" version="2.11.1.v20140519-130118-1e1defd99c"/>
<unit id="org.scala-lang.modules.scala-parser-combinators" version="1.0.1"/>
<unit id="org.scala-lang.scala-reflect" version="2.11.1.v20140519-130118-1e1defd99c"/>
<unit id="com.wordnik.swagger-core_2.11.source" version="1.3.10"/>
<unit id="org.scala-lang.scala-library" version="2.11.1.v20140519-130118-1e1defd99c"/>
<unit id="com.wordnik.swagger-jaxrs_2.11" version="1.3.10"/>
<unit id="org.json4s.jackson_2.11.source" version="3.2.10"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" version="2.4.1"/>
<unit id="org.json4s.native_2.11" version="3.2.10"/>
<unit id="joda-time.source" version="2.3.0"/>
<unit id="org.json4s.core_2.11" version="3.2.10"/>
<unit id="org.scala-lang.scalap" version="2.11.0"/>
<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations.source" version="2.4.1"/>
<unit id="com.fasterxml.jackson.module.jackson.module.scala" version="2.4.1"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base.source" version="2.4.1"/>
<unit id="com.google.guava" version="15.0.0"/>
<unit id="com.wordnik.swagger-annotations" version="1.3.10"/>
<unit id="org.scala-lang.scalap.source" version="2.11.0"/>
<unit id="org.json4s.native_2.11.source" version="3.2.10"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="2.4.1"/>
<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.4.1"/>
<unit id="com.wordnik.swagger-annotations.source" version="1.3.10"/>
<unit id="slf4j.api.source" version="1.6.3"/>
<repository location="http://cmark.github.io/osgi-swagger-connector/p2/swagger-dependencies"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.junit" version="4.11.0.v201303080030"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.slf4j.log4j" version="1.7.2.v20130115-1340"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.hamcrest.generator.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="org.slf4j.log4j.source" version="1.7.2.v20130115-1340"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.slf4j.nop.source" version="1.7.2.v201212060727"/>
<unit id="org.slf4j.ext.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jul" version="1.7.2.v20121108-1250"/>
<unit id="org.junit.source" version="4.11.0.v201303080030"/>
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<unit id="org.mockito" version="1.9.5.v201311280930"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.mockito.source" version="1.9.5.v201311280930"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
<unit id="ch.qos.logback.slf4j.source" version="1.0.7.v20121108-1250"/>
<unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.library.source" version="1.3.0.v201305281000"/>
<unit id="ch.qos.logback.classic.source" version="1.0.7.v20121108-1250"/>
<unit id="org.slf4j.jul.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jcl" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.impl.log4j12" version="1.7.2.v20131105-2200"/>
<unit id="ch.qos.logback.core.source" version="1.0.7.v20121108-1250"/>
<unit id="org.slf4j.jcl.source" version="1.7.2.v20130115-1340"/>
<unit id="org.hamcrest.integration.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.library" version="1.3.0.v201305281000"/>
<unit id="org.slf4j.ext" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.impl.log4j12.source" version="1.7.2.v20131105-2200"/>
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.slf4j.nop" version="1.7.2.v201212060727"/>
<unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
</location>
</locations>
</target>
